.container {
  display: block;
  min-height: 100vh;
}

.body {
  background-color: #000;
  font-size: 20px;
}

.body.bodypage {
  background-image: url('../images/backgroundCards.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.grid {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading {
  margin-top: 0px;
  opacity: 1;
  font-family: Amagro, sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 120px;
}

.columns {
  margin-top: 60px;
  margin-right: 0px;
  margin-left: 0px;
  opacity: 1;
  font-family: Vollkorn, serif;
}

.columns.devcolumns {
  margin-top: 0px;
}

.button {
  background-color: #000;
  color: #fff;
  background-clip: border-box;
}

.mini {
  font-size: 13px;
  margin-top: 40px !important;
}

.columns-2 {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.image {
  display: inline-block;
  max-width: 30%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.text-block {
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 16px;
}

.text-block.footertext {
  margin-top: 0px;
  font-size: 10px;
}

.text-block.special {
  padding-top: 10px;
}

.text-block.maintext {
  font-size: 16px;
  font-weight: 400;
}

.button-2 {
  max-height: 1px;
  max-width: 1px;
  min-height: 1px;
  padding: 20px 15px 9px;
  background-color: rgba(56, 152, 236, 0);
  background-image: url('../images/Cerchione.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.button-2.bigger {
  min-height: 1px;
  min-width: 1px;
  padding: 0px;
  background-image: url('../images/cerchionerosso.png');
}

.button-2.smaller {
  max-height: 5px;
  max-width: 5px;
  min-height: 5px;
  padding: 0px 10px 20px 20px;
}

.column {
  margin-top: 20px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: auto;
}

.paragraph {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 13px;
}

.paragraph.hide {
  display: none;
}

.paragraph-2 {
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 16px;
}

.column-2 {
  display: block;
  margin-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-2 {
  margin-top: 50px;
  margin-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-row-gap: 111px;
  grid-template-areas: "Area";
}

.section {
  margin-top: 40px;
}

.image-2 {
  display: inline-block;
  max-width: 40%;
  text-align: left;
}

.div-block-3 {
  text-align: center;
}

.cards-section {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url('../images/backgroundCards.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: "Area ."
    ". Area-2";
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
  padding-top: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0%;
  text-align: left;
  -o-object-fit: contain;
  object-fit: contain;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  text-align: left;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-2 {
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: 400;
}

.heading-2.hide {
  display: none;
}

.heading-2.specialheading {
  margin-top: 20px;
  font-size: 40px;
}

.heading-3 {
  margin-bottom: 0px;
  font-family: Amagro, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.div-block-4 {
  text-align: left;
}

.cards-section-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cards-grid-container-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
  text-align: left;
}

.cards-image-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
  height: 80%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  text-align: left;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}

.slider {
  min-height: 80vh;
  margin-top: 20px;
  background-color: hsla(0, 0%, 86.7%, 0);
  background-image: url('../images/cornice_3.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  background-clip: padding-box;
}

.heading-4 {
  margin-top: -9px;
  margin-bottom: 20px;
  margin-left: -37px;
  -webkit-transform: translate3d(0px, 0px, 133px);
  transform: translate3d(0px, 0px, 133px);
  font-family: Amagro, sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 20px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-3 {
  position: static;
  display: block;
  overflow: visible;
  max-height: 80vh;
  max-width: 90%;
  margin-right: 0%;
  margin-left: 0%;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  text-align: left;
}

.text-span {
  font-size: 20px;
  line-height: 10px;
}

.mask {
  min-height: 80vh;
  text-align: center;
}

.slide {
  margin-top: 20px;
  background-image: url('../images/sottotraccia.JPG');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.slide.slide2 {
  background-image: url('../images/indiadieci.jpeg');
}

.slide.slide3 {
  background-image: url('../images/quadroIndiaQuattro.jpeg');
}

.slide.slide4 {
  background-image: url('../images/quadroTracceQuattro.jpeg');
}

.slide.slide5 {
  background-image: url('../images/quadroTracceSette.jpeg');
}

.slide.slide6 {
  background-image: url('../images/quadroTracceTre.jpeg');
}

.slide.slide7 {
  background-image: url('../images/presenzesei.jpg');
}

.slide.slide8 {
  background-image: url('../images/quadriPresenzeDue.jpeg');
}

.slide.slide9 {
  background-image: url('../images/presenzesette.jpg');
}

.slide.slide11 {
  background-image: url('../images/sette.jpeg');
}

.slide.slide12 {
  background-image: url('../images/tredici.jpeg');
}

.slide.slide13 {
  background-image: url('../images/nove.jpeg');
}

.slide.slide14 {
  background-image: url('../images/quadroTracceCinque.jpeg');
}

.slide.slide15 {
  background-image: url('../images/ee.jpeg');
}

.slide.slide16 {
  background-image: url('../images/quadroTraccesSei.jpeg');
}

.slide.slide17 {
  background-image: url('../images/meee.jpeg');
}

.slide.slide18 {
  background-image: url('../images/quadroTracceDieci_1.jpeg');
}

.slide.slide19 {
  background-image: url('../images/nee.jpeg');
}

.slide.slide20 {
  background-image: url('../images/indiadue.jpeg');
}

.slide.slide21 {
  background-image: url('../images/quadroIndiaCinque.jpeg');
}

.slide.slide22 {
  background-image: url('../images/indiauno.jpeg');
}

.slide.slide23 {
  background-image: url('../images/indiasei.jpeg');
}

.slide.slide24 {
  background-image: url('../images/quattordici.jpeg');
}

.slide.slide25 {
  background-image: url('../images/diciassette.jpeg');
}

.slide.slide27 {
  background-image: url('../images/tredici.jpeg');
}

.slide.slide28 {
  background-image: url('../images/uno.jpeg');
}

.slide.slide29 {
  background-image: url('../images/sei.jpeg');
}

.slide.slide30 {
  background-image: url('../images/dodici.jpeg');
}

.slide.slide31 {
  background-image: url('../images/nove.jpeg');
}

.slide.slide32 {
  background-image: url('../images/otto.jpeg');
}

.slide.slide33 {
  background-image: url('../images/sedici.jpeg');
}

.slide.slide34 {
  background-image: url('../images/quadriPresenzeQuattro.jpeg');
}

.slide.slide36 {
  background-image: url('../images/a.jpg');
}

.slide.slide37 {
  background-image: url('../images/quadriPresenzeTre.jpeg');
}

.slide.slide38 {
  background-image: url('../images/quadriPresenzeSei.jpeg');
}

.slide.slide39 {
  background-image: url('../images/sequenza1.jpg');
}

.slide.slide40 {
  background-image: url('../images/URBE.jpg');
}

.slide.slide41 {
  background-image: url('../images/riquadri.jpg');
}

.slide.slide43 {
  background-image: url('../images/cheroke.JPG');
}

.slide.slide44 {
  background-image: url('../images/graffi-e-macchie-bianche.jpg');
}

.slide.slide45 {
  background-image: url('../images/graffi.jpg');
}

.slide.slide46 {
  background-image: url('../images/urbanistica-arancione.jpg');
}

.slide.slide50 {
  background-image: url('../images/klee.jpg');
}
.slide.slide51 {
  background-image: url('../images/freccia\ e\ ruota.jpg');
}

.slide.slide54 {
  background-image: url('../images/ghirigoricolorati.JPG');
}

.slide.slide55 {
  background-image: url('../images/tempio.jpg');
}

.slide.slide58 {
  background-image: url('../images/sequenza2.jpg');
}

.slide.slide59 {
  background-image: url('../images/sequenza3.jpg');
}

.slide.slide60 {
  background-image: url('../images/sequenza4.jpg');
}

.slide1 {
  background-image: url('../images/quadroTracceDieci.jpeg');
  background-position: 50% 50%;
  background-size: auto;
}

.slide-nav {
  display: none;
}

.div-block-5 {
  height: 2px;
  margin-bottom: 0px;
  background-color: #fff;
}

.div-block-5.hidedesktop {
  display: none;
}

.body-2 {
  background-color: #000;
}

.icon {
  font-size: 20px;
}

.section-2 {
  margin-bottom: 20px;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  text-align: center;
}

.preloadingtext {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}

.text-span-2 {
  font-size: 15px;
}

.text-span-3 {
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 70px;
    line-height: 80px;
  }

  .paragraph {
    font-size: 11px;
    line-height: 15px;
  }

  .grid-2 {
    margin-top: 80px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .heading-2.hide {
    display: none;
  }

  .cards-grid-container-2 {
    grid-column-gap: 20px;
  }

  .heading-4 {
    margin-left: 10px;
  }

  .image-3 {
    margin-left: 0%;
  }
}

@media screen and (max-width: 767px) {

  #bassomobile {
margin-top: 30px;
  }

  .columns {
    margin-top: 0px;
  }

  .button {
    margin-top: 20px;
  }

  .text-block.footertext {
    margin-bottom: 20px;
  }

  .paragraph {
    display: none;
  }

  .paragraph.hide {
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #fff;
  }

  .buttoncolumnb {
    max-height: none;
    margin-top: 40px;
  }

  .grid-2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .heading-2.hide {
    display: block;
    margin-top: 60px;
  }

  .cards-section-2 {
    padding: 40px 20px;
  }

  .cards-grid-container-2 {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-top: -100px !important;
  }

  .slider {
    background-color: #000;
    background-image: none;
  }

  .heading-4 {
    margin-top: 66px;
  }

  .slide {
    margin-top: 0px;
  }

  .div-block-5 {
    height: 1px;
  }

  .div-block-5.hidedesktop {
    display: block;
  }

  .preloader {
    display: none;
  }

  .preloadingtext {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 60px;
    margin-left: 60px;
    padding-left: 0px;
  }

  .mobilecol {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 60px;
  }

  .columns {
    margin-top: 0px;
  }

  .image {
    max-width: 30%;
  }

  .text-block {
    font-size: 15px;
  }

  .button-2 {
    height: 2%;
  }

  .button-2.bigger {
    min-height: 30px;
    min-width: 30px;
  }

  .div-block {
    margin-top: 0px;
  }

  .column {
    margin-top: 20px;
  }

  .paragraph {
    display: none;
  }

  .paragraph.hide {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 13px;
    line-height: 17px;
  }

  .paragraph-2 {
    margin-top: -36px;
  }

  .paragraph-2.nonegativemargine {
    margin-top: 0px;
  }

  .div-block-2 {
    margin-bottom: 20px;
  }

  .buttoncolumnb {
    max-height: none;
    margin-top: 20px;
  }

  .grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-2 {
    margin-top: 0px;
  }

  .heading-2.specialheading {
    margin-top: 20px;
  }

  .heading-3 {
    font-size: 16px;
  }

  .cards-grid-container-2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block2 {
    margin-top: 0px;
  }

  .heading4 {
    font-size: 13px;
    text-align: center;
  }

  .slider {
    min-height: 100vw;
  }

  .heading-4 {
    margin-top: 169px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 40px;
  }

  .image-3 {
    margin-left: 10px;
  }

  .right-arrow {
    min-height: 100vh;
    margin-top: -54px;
    margin-bottom: 0px;
  }

  .icon {
    font-size: 20px;
  }

  .preloader {
    display: none;
  }

  .text-span-4 {
    font-weight: 400;
  }

  .text-span-5 {
    font-size: 15px;
  }

  .text-span-6 {
    font-size: 15px;
  }

  .invisiblecol {
    max-height: 2px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_557201a6-2d75-2d5b-da75-8ea01d2f64d6-c8fb84bc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_557201a6-2d75-2d5b-da75-8ea01d2f64dd-c8fb84bc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_557201a6-2d75-2d5b-da75-8ea01d2f64e4-c8fb84bc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_99b03193-ce5a-c342-fbd6-69bc9e739352-c8fb84bc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Amagro';
  src: url('../fonts/amagro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}